<header class="g-header">
    {% if "https://hyahui.com{{page.url}}" == "/404.html" %}
        <meta http-equiv="refresh" content="0; url=https://hyahui.com">
    {% endif %}
    <div class="g-nav" style="float: left; margin-left: 2%">
      <a href="https://hyahui.com{{page.url}}" style="color: rgb(255, 255, 255); font-size: 14px; opacity: .7;">CN</a>
    </div>

    <i id="menu-toggle" class="iconfont icon-menu"></i>
    <nav class="g-nav">
        <ul>
            {% for i in site.nav %}
            <li><a href="{{ i[1] }}">{{ i[0] }}</a></li>
            {% endfor %}
        </ul>
    </nav>
</header>
